# ===== APP CONFIGURATION =====

# [OPTIONAL] Mode in which the application is running
# If DEVELOPMENT is not set, it defaults to false
DEVELOPMENT=false

# Database URL [REQUIRED]
# Should be a valid async database URL.
# SQLite example:
# DATABASE_URL=sqlite+aiosqlite:///provider_parser_bot/app.db.sqlite3
# PostgreSQL example:
# DATABASE_URL=postgresql+asyncpg://USERNAME:PASSWORD@HOST:PORT/DB_NAME
# PostgreSQL in docker compose example:
DATABASE_URL=postgresql+asyncpg://USERNAME:PASSWORD@SERVICE_NAME:5432/DB_NAME

# PostgreSQL container settings (used by compose.yaml)
POSTGRES_DB=your_database_name
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_super_secret_password
