/* Themes styles
*
* - Default theme is light.
* - Customisation is done by overriding default Radix Theme tokens
* - and by setting custom CSS color variables that are used for some UI elements.
* - Values of custom CSS variables should be Radix color tokens.
* - See https://www.radix-ui.com/themes/docs/theme/color
* - and https://github.com/radix-ui/themes/blob/main/packages/radix-ui-themes/src/styles/tokens/color.css
* - Main accent color is defined in root Theme component prop in root.tsx
*/

/* DEFAULT THEME (LIGHT) */
.radix-themes {
  color-scheme: dark;

  /* BACKGROUND COLORS RADIX TOKENS */

  /* Page background */
  --color-background: #fff;

  /* Panel backgrounds, such as cards, tables, popovers, dropdown menus, etc. */
  --color-panel-solid: #f8fafc;
  --color-panel-translucent: #f8fafc;

  /* Form component backgrounds, such as text fields, checkboxes, select, etc. */
  --color-surface: #f8fafc;

  /* Dialog overlays */
  --color-overlay: #000;

  /* CUSTOM CSS VARIABLES */
}

/* DARK THEME */
/* Overrides default theme styles */
.radix-themes.dark {
  color-scheme: dark;

  /* BACKGROUND COLORS RADIX TOKENS */

  /* Page background */
  --color-background: #282a36;

  /* Panel backgrounds, such as cards, tables, popovers, dropdown menus, etc. */
  --color-panel-solid: #343746;
  --color-panel-translucent: rgba(68, 71, 90, 0.72);

  /* Form component backgrounds, such as text fields, checkboxes, select, etc. */
  --color-surface: #44475a;

  /* Dialog overlays */
  --color-overlay: rgba(15, 16, 22, 0.78);


}
